name: Python CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
  
      - uses: actions/checkout@v4

    
      - uses: actions/setup-python@v4
        with:
          python-version: 3.11  # or whichever version you use


      - name: Install dependencies
        run: |
          if [ -f requirements.txt ]; then
            pip install -r requirements.txt
          fi

  
      - name: Run vote-eligibility-check
        run: |
          python vote_eligibility_check.py
